/* ============= main ============= */

/* ============= pc ============= */


.box01 .mainIcon {
  width: auto;
  min-width: 80px;
  transition: transform 3s ease-in-out;
}

.box01 .mainIcon:hover {
  animation: spin 3s linear infinite; /* 애니메이션 적용 */
}



.box01 .thin{
  font-weight: lighter;
}
.box01 .black{
  font-weight: 900;
}
.box01 .line{
  background-image: url('data:image/svg+xml;utf8,<svg width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2H5" stroke="black" stroke-width="3"/></svg>');

  background-repeat: repeat-x;
  background-size: auto;

  height: 4px;
  width: 100%;
}

.box01 .text01{
  flex: 0 1 auto;
  white-space: nowrap; 
}

.box01 .button{
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.box02{
  /* background-color: lightgray; */
  border-radius: 1.25rem;
}

.loofText{
  height: 50px !important;
  border-radius: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative; 
}

.Ltext {
  font-size: 24px;
  font-style: italic;
  color: #333;
  display: inline-block;
  padding-right: 10px;
  animation: scroll 20s linear infinite; /* 애니메이션 적용 */
}

@keyframes scroll {
  0% {
      transform: translateX(0); /* 시작 위치 */
  }
  100% {
      transform: translateX(-100%); /* 전체 길이 만큼 이동 */
  }
}

.slide{
  margin-top: 10px !important;
}


@media (min-width:992px) {
  .navbar-nav {
    display: block;
  }
}

.main_slide img{
  border-radius: 1.25rem;
}

.nav button{
  color: #333 !important;
}


/* ============= mobile ============= */
/* 3개 슬라이드반응형 */

@media (min-width:768px) {
  .pcVisual{
    display: unset;
  }
  .box02{
    margin-left: 0px !important;
  }
}

.box02 {
  position: relative;
  width: 100%; 
  height: auto; 
  overflow: hidden; 
}

.box02 video {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: contain;
}


.mdVisual{
  height: auto;
}

.visualImg{
  border-radius: 1.25rem;
}




/* ============= c01 ============= */

#aboutUs .c01text *{
  color: #fff !important;
  text-align: center;
}
#aboutUs p{
  padding: 0;
  margin: 0;
}

.star img{
  width: 10px;
  height: 10px;
}


.c01text br{
  display: block;
}
.pt{
  margin-top: 10px !important;
}

@media (min-width:700px){
  .c01text br{
    display: none;
  }
  .pt{
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  #aboutUs {
      margin-top: 7.5rem !important;
  }
}
@media (max-width: 992px){
  h5 {
    font-size: 1rem !important;
  }
  p {
    font-size: 0.8rem !important;
  }
}


/* ============= c03 ============= */


#map, .Classform{
  border-radius: 1.25rem;
}

#map{
  height: 48%;
}

.Classform{
  background: #fff;
}
.box03Img{
  height: 48%;
  background: gray;
  margin-bottom: 30px;
  border-radius: 1.25rem;
}


.Classform div, .Classform span{
  color: #333;
  font-weight: 500;
}

.Classform{
  height: 100% !important;
}

.classform_form{
  padding: 30px;
  height: 100%;
}


.classform_form p{
  font-size: 15px;
  color: #aaa;
  font-weight: normal;
  margin: 0;
}

.classType button:not(.category-btn){
  margin-right: 20px;
}

.classform_form .input,
.classform_form .option,
.classform_form .date,
.category-btn{
  width: 12vw;
  min-width: 150px;
  height: 40px;
  border: 3px solid #333;
  border-radius: 100px;
  padding: 0 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  appearance: none;
  color: #333;
}

.category-btn{
  background: #fff;
  width: 120px;
  margin-bottom: 0;
  margin-right: 10px;
}

.category-btn.active{
  background: #333;
  color: #fff;
}

.sumbit{
  width: 100%;
  background: #333;
  height: 50px;
  color: #fff;
  border-radius: 100px;

}

/* form 미디어쿼리(모바일) */
@media (max-width:992px){
  .classform_form .input{
    width: 100% !important;
  }

  .box03, map{
    height: 600px;
  }

  .nav{
    font-size: 0.85rem;
  }
}


